<h1>Importar archivo .tab</h1>

<%= form_with url: import_sales_path, local: true, multipart: true do |form| %>
  <div>
    <%= form.file_field :file %>
  </div>
  <div>
    <%= form.submit "Subir archivo" %>
  </div>
<% end %>

<% if notice %>
  <p style="color: green;"><%= notice %></p>
<% elsif alert %>
  <p style="color: red;"><%= alert %></p>
<% end %>

<h2>Total de ingresos: <%= number_to_currency(@total_revenue) %></h2>